:root {
  --color-primary: #0aff9d;
  --color-background: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: var(--color-background);
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
