@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0aff9d;
  --color-primary-dark: #0aff9d0a;
  --color-secondary: #ff1a0a;
  --color-secondary-dark: #ff1a0a0a;
  --color-background: #181818;
  --color-radial-background: #0aff9d19;
  --color-border-grid: #1e1e1e;

  --pos-1: 0%
  --pos-2: 59%
  --pos-3: 100%
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #ffffffe5; */
  background-color: var(--color-background);
  font-family: "Exo 2", sans-serif;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, span, p, svg {
  color: #ffffffe5;
}